<html>
    <font color="white">
    <body bgcolor="555B66">
    <head>
      {% if title %}
      <title>{{ title }} - Spotify Music Data Retrieval</title>
      {% else %}
      <title>Spotify Music Data Retrieval</title>
      {% endif %}
    </head>
    <body>
        <div><a href={{ link }}>Refresh Auth Token</a>
        {% if link2 %}
            <div><a href={{ link2 }}>Get User Playlists</a>
        {% endif %}
        <hr>
        {% block content %}{% endblock %}
    </body>
    </font>
</html>