<html>
    <center>
    <font color="white">
    <body bgcolor="555B66">
    <head>
        <title>Music in Context</title>
        <h2>Discover Music in Context</h2>
        <h3>A project by John Tokarowski</h3>
    </head>
    <body>
        <p>
            Beta Functionality: the model will retrieve the user's top recent tracks and build a pool of recommendations.
            The model will then fit the recommendations to a 'curve' and present the complete set as a playlist in Spotify
            <br>
            <p>
            This tool will ask you for Spotify Authentication to create new playlists. No playlists will be deleted.
            </p>
            <br>
            For more information on this project, check out my <a href="https://github.com/jtokarowski/spotifyAnalysis">github</a> or <a href="https://tokarowski.sport.blog/2020/01/09/developing-a-spotify-powered-dj-set-tool-progress-to-date/">blog</a>
            <br>
            Thanks for visiting! Please direct any feedback to JTDJProject@gmail.com
        </p>
        <br>
        <br>
        <p>
            <a href={{ nextPageLink }}>Get Started</a>
        </p>

    </body>
    </font>
    </center>
</html>