<html>
    <center>
    <font color="white">
    <body bgcolor="555B66">
    <head>
        <title>Music in Context</title>
        <h2>Discover Music in Context</h2>
        <h3>A project by John Tokarowski</h3>
    </head>
    <body>
        <p>
            The current iteration of the model utilizes k-means clustering to detect sub-genres in a user's spotify playlists.<br>
            Select 1 or more playlists to analyze, and the model will create up to 5 playlists from all associated songs.<br>
            Spotify recommendations for each sub-genre playlist will be more precise.
            <br>
            <p>
            This tool will ask you for Spotify Authentication to view current and create new playlists. No playlists will be deleted.
            </p>
            <br>
            For more information on this project, check out my <a href="https://github.com/jtokarowski/spotifyAnalysis">github</a> or <a href="https://tokarowski.sport.blog/2020/01/09/developing-a-spotify-powered-dj-set-tool-progress-to-date/">blog</a>
            <br>
            Thanks for visiting! Please direct any feedback to JTDJProject@gmail.com
        </p>
        <br>
        <br>
        <p>
            <a href={{ nextPageLink }}>Get Started</a>
        </p>

    </body>
    </font>
    </center>
</html>